body {
    font-family: Arial;
    background: #0f172a;
    color: #e5e7eb;
    text-align: center;
}

.card {
    background: #020617;
    width: 420px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

button {
    background: #22c55e;
    border: none;
    font-weight: bold;
}
